{% extends '::base.html.twig' %}

{% block body_content %}
    {{ parent() }}
    {% block breadcrumb %}
        <ol class="breadcrumb">
            <i class="fa-fw fa fa-file-text-o"></i><li>Currículo</li>
            <li>Cadastrar</li>
        </ol>
    {% endblock %}
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-red" id="wid-id-3" data-widget-colorbutton="false"
                         data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                        -->
                        <header>
                            <h2><strong>Pesquisar</strong></h2>
                        </header>

                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body">
                                <form action="" method="post" name="searchForm">
                                    <input type="text" name="search_input"></input>
                                    <button type="submit" class="btn btn-success">Pesquisar</button>
                                </form>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->

        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
{% endblock %}